:root {
	--mural: url(assets/images/valerio.jpg);
}

body {
	background-color: rgb(224, 205, 184);
}

canvas {
	background-image: var(--mural);
	background-size: cover;
	touch-action: none;
}

.video {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
	min-width: 100%;
	min-height: 100%;
}

section {
	background-color: rgba(0, 129, 129, 0.7);
}

#container {
	width: 57%;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-family: "Courier New", monospace;
	color: white;
	border: 5px solid #C0C0C0;
}

#container2 {
	width: 57%;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-family: "Courier New", monospace;
	color: white;
	border: 5px solid #C0C0C0;
	background-color: rgb(0, 129, 129);
}

#contador {
	line-height: 59px;
}

.diolho {
	background-color: rgba(179, 0, 0, 0.7);
}

.botoes {
	/*border-radius: 5px;*/
	display: flex;
	justify-content: center;
	background: none;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	align-items: center;
	/*background-color: rgba(112, 128, 144, 0.5); rgb(0, 129, 129);*/
	gap: 25px;
	padding: 5px;
}

.botao {
	background-color: rgba(229, 228, 226, 0);
	font-weight: bold;
	border: none;
	cursor: pointer;
	font-family: "Courier New", monospace;
}

.botao:hover {
	background-color: rgba(235, 235, 235, 0.637);
}

.tamanho {
	font-size: 19px;
}

.paleta{
	display: grid;
	grid-template-columns: repeat(10, 15px);
	grid-gap: 5px;
}

.cor{
	width: 15px;
	height: 15px;
	border: .8px solid rgb(207, 205, 205);
	background-color: var(--set-color);
	cursor: pointer;
}

.color-picker {
	border: none;
	background: none;
	cursor: pointer;
}

#select {
	background-color: rgba(235, 235, 235, 0.637);
}

/*RODAPÉ*/
/*footer {
	margin-top: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	color: white;
	background-color: rgba(112, 128, 144, 0.5);
	text-align: center;
}*/

footer ul {
	margin-top: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #C0C0C0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: 99;
}

footer li {
	float: left;
	width: 25%;
}

footer li a {
	text-align: center;
	color: black;
	font-family: "Courier New", monospace;
	font-weight: bold;
	display: block;
	width: 100%;
	text-decoration: none;
	padding: 8px;
}

footer li a:hover {
	background-color: rgba(235, 235, 235, 0.637);;
}

footer img {
	vertical-align: middle;
}

.ufes {
	width: 50%;
	height: auto;
}